
#form-contato {
	width: 500px;
}

#form-contato input[type=text], #form-contato input[type=email], #form-contato textarea {
	display: block;
	border: 1px solid var(--azul-escuro);
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	font-size: 16px;
	font-family: var(--fonte-principal);
}

#form-contato input[type=text]:focus, #form-contato input[type=email]:focus, #form-contato textarea:focus {
	border-color: var(--rosa);
}

#form-contato textarea {
	height: 150px;
}

#form-contato ::placeholder {
	color: var(--marrom);
}

#form-contato input[type=submit] {
	margin-left: 0;
	font-size: 16px;
	width: 180px;
    padding-bottom: 20px;
    
}
hr{
    border: none; /* remove a borda padrão */
    border-top: 2px solid var(--rosa); /* define uma borda superior de 2 pixels de espessura */
    margin: 10px 0; /* define margens superiores e inferiores de 20 pixels */
}
footer {
	height: 50px;
	padding-top: 20px;
    padding-left: 550px;
	color: var(--azul-escuro);
}

footer p {
	text-align: center;
	font-weight: 700;
}
